@import 'src/styles/uses.scss';

.wrapper {
  width: 100%;
  background: linear-gradient(90deg, $ui-yellow 0%, $ui-pink 100%);
  height: rem(497px);
  overflow: hidden;
  position: relative;

  @include low-desktop {
    height: rem(415px);
  }

  @include tablet {
    height: rem(300px);
  }
}

.content {
  max-width: $desktop-width;
  height: 100%;
  margin: 0 auto;
  padding: 0 $desktop-padding;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.image {
  width: rem(558px);
  height: rem(470px);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: rem(17px);

  @include tablet {
    display: none;
  }
}

.title {
  font-size: rem(120px);
  color: $ui-white;
  font-weight: bold;

  @include low-desktop {
    font-size: rem(80px);
  }
}

.subtitle {
  margin-top: rem(25px);
  color: $ui-white;
  font-weight: 400;
  font-size: rem(24px);
  line-height: rem(36px);
  text-align: center;
}

.decor {
  position: absolute;
}

.big {
  bottom: 0;
  right: 0;
  transform: translate(40%, 40%);
}

.small {
  top: 0;
  right: $desktop-padding;
}
