$desktop: 1440px;
$tablet: 768px;
$mobile: 360px;

$desktop-padding: 182px;

//colors
$ui-pink: #FF77B0;
$ui-yellow: #FFEE59;
$ui-green: #6AE057;
$ui-blue: #54B7FF;
$ui-violet: #CC74FF;
$ui-gray: #CECECE;
$ui-black: #464646;
$ui-white: #FFFFFF;
