@import 'src/styles/uses';

.tag {
  padding: rem(12px) rem(32px);
  border: none;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  transition: $g-transition;
  color: var(--text-dark-color, $text-dark-color);

  &:not(:last-child) {
    margin-right: rem(20px);

    @include low-desktop {
      margin-right: rem(12px);
    }

    @include tablet {
      margin-right: rem(8px);
    }
  }

  &:before {
    content: '';
    position: absolute;
    background-color: var(--bg-main, $bg-main);
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    border-radius: inherit;
    transition: $g-transition;
  }

  &:hover {
    filter: $blueShadow;
  }

  &.blueGr {
    background: $blueGradientTransparent;
  }

  &.pinkGr {
    background: $pinkGradientTransparent;
  }

  &.greenGr {
    background: $greenGradientTransparent;
  }

  &.active {
    color: var(--text-color, $text-color);

    &:before {
      content: none;
    }
  }

  @include low-desktop {
    padding: rem(8px) rem(20px);
  }

  @include tablet {
    padding: rem(4px) rem(12px);
  }
}

.content {
  position: relative;
  white-space: nowrap;
  font-size: rem(14px);
}
