@import "./src/styles/uses";

.footer {
  margin-top: rem(48px);
  background: $violetGradient;
  padding: rem(70px) 0;
}

.content {
  max-width: rem(1075px);
  padding: 0 rem(90px);
  margin: rem(48px) auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  color: $ui-white;
  font-weight: 500;
  font-size: 16px;
}

.socials {
  display: flex;
  align-items: center;
  margin-top: rem(14px);
}

.socialLink {
  flex: 0 0 auto;

  &:not(:last-child){
    margin-right: rem(8px);
  }
}
